[program:{{ .hostname }}]
{{ if .prod }}
command={{ .root_dir }}/log_prefix.sh {{ .root_dir }}/{{ .path }}/{{ .hostname }}
{{ else }}
command={{ .root_dir }}/{{ .path }}/{{ .hostname }}
{{ end }}
directory={{ .root_dir }}/{{ .path }}
autorestart=true
#autorestart=unexpected
#startretries=3
# exitcodes=0,2
# startsecs=10
autostart=false
stdout_logfile={{ .root_dir }}/{{ .path }}/autorun.log
stderr_logfile={{ .root_dir }}/{{ .path }}/autorun.err